<div *ngFor="let events of eventList">
    <div class="panel panel-white profile-widget">
        <div class="row">
            <div class="col-sm-12">
                <div class="d-flex align-items-center">
                    <img src="{{events.eventBannerUrl}}" class="my-3 img-size">
                </div>

                <div class="ps-3 pe-3  mt-2">
                    <div class="d-flex">
                        <div class="fw-bolder fs-4">Event Name:&nbsp;<a>{{events.eventName}}</a></div>
                        <div *ngIf="events.createdBy==user" class=" ms-auto pe-3">
                            <button class="btn btn-danger btn-sm" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Delete Event" (click)="openDelete(events.eventId)"><i class="fa fa-trash"
                                    aria-hidden="true"></i></button>
                        </div>
                        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayDelete}">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <h4 class="pb-2 text-center">Are you sure, You want to delete this?</h4>
                                        <div class="d-flex justify-content-center mt-4">
                                            <button class="btn btn-danger mx-3"
                                                (click)="deleteCharityEvent()">Delete</button>
                                            <button class="btn btn-secondary mx-3"
                                                (click)="closeDelete()">Cancel</button>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" (click)="closeDelete()">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="fw-bolder fs-6">Start Date:&nbsp;<a>{{events.eventStartDate | date:'short'}}</a>
                        </div>
                        <div class="fw-bolder fs-6 ms-5">End Date:&nbsp;<a>{{events.eventEndDate | date:'short'}}</a>
                        </div>
                    </div>
                    <div class="fw-bolder fs-6">Event Description:&nbsp;</div>
                    <p>{{events.eventDescription}}</p>
                </div>

                <ul class="d-flex mb-3 ps-3 pe-3" style="list-style: none;">
                    <li class="org-link fs-5 fw-bolder me-3 curs" (click)="addInterested(events.eventId)"><i
                            class="fa fa-star fa-sm" aria-hidden="true"></i>&nbsp;Interested</li>
                    <li class="org-link fs-5 fw-bolder ms-3 curs" (click)="addGoing(events.eventId)"><i
                            class="fa fa-check-square fa-sm" aria-hidden="true"></i>&nbsp;Going</li>
                    <li class=" fw-bolder  ms-auto fs-5 me-3" type="button" (click)="openPopup(events.eventId)">
                        Share&nbsp;<i class="fa fa-share fa-sm" aria-hidden="true"></i></li>
                </ul>

                <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <h4 class="pb-2">Share this link via</h4>
                                <div class="d-flex align-items-center icons">
                                    <a
                                        class="fs-5 d-flex mx-2 px-2 py-2 border border-1 rounded-circle border-info share-logo"><i
                                            class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a>

                                    <a
                                        class="fs-5 d-flex mx-2 px-2 py-2 border border-1 rounded-circle border-info share-logo "><i
                                            class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a>

                                    <a
                                        class="fs-5 d-flex mx-2 px-2 py-2 border border-1 rounded-circle border-info share-logo instagram-logo"><i
                                            class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>

                                    <a
                                        class="fs-5 d-flex mx-2 px-2 py-2 border border-1 rounded-circle border-info share-logo whatsapp-logo"><i
                                            class="fa fa-whatsapp fa-lg" aria-hidden="true"></i></a>

                                    <a
                                        class="fs-5 d-flex mx-2 px-2 py-2 border border-1 rounded-circle border-info share-logo"><i
                                            class="fa fa-telegram fa-lg" aria-hidden="true"></i></a>
                                </div>
                                <h5 class="pt-2 mt-3">Or copy link</h5>
                                <div class="field d-flex">
                                    <!-- <a class="fs-5 d-flex mx-2 px-2 py-2"
                                    style="text-decoration: none;">
                                    <i class="fa fa-link fa-lg" aria-hidden="true"></i></a>  -->
                                    <input type="text" class="form-control" id="shareEvent" value="some.com/share"
                                        disabled>
                                    <button class="btn btn-success ms-2" (click)="copyToClip()"><i
                                            class="fa fa-clone fa-lg" aria-hidden="true"></i></button>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" (click)="closePopup()">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center pb-3">
                    <button [routerLink]="['./',events.eventId]" routerLinkActive="active" style="width:auto;"
                        class="btn btn-success btn-block rounded-pill z-depth-1a w-25 fw-bolder">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;View Posts
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<button *ngIf="isOrg" type="button" class="btn btn-success btn-circle btn-xl position-fixed mx-2"
    (click)="openCreatEventeForm()" data-bs-toggle="tooltip" data-bs-placement="top" title="Create Event"><i
        class="fa fa-plus" aria-hidden="true"></i>
</button>
<!-- <router-outlet></router-outlet> -->