.curs{
    cursor: pointer;
}
/* 
  .media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 43px !important;
    height: 43px !important;
  }
  .d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  } */