<div class="container logos">
    <img src="./assets/images/logo_bg.png" alt="strong_logo" style="width:100%;">
    <!-- <div class="fw-light fs-2 centered">
        <p>
            <b>S</b>tanding <b>T</b>ogether <b>R</b>esponsibly with <b>ON</b>e <b>G</b>oal,<br>
            <b>Let's serve a Country mile</b>
        </p>
    </div> -->
</div>

<div class="bg-light">
    <div class="container py-1">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6 d-none d-lg-block"><img src="./assets/images/who_we_are.jpeg" alt="who_we_are"
                    class="img-fluid">
            </div>
            <div class="col-lg-6">
                <h1 class="fw-light">Who we are?</h1>
                <p class="fs-5">
                    Team <b>S.T.R.O.N.G.</b><br>
                </p>
                <h2 class="fw-light">What is the reason behind?</h2>
                <p class="fs-6">
                    We've all had a walk/drive through the roads of our cities/villages.<br>
                    <b>One thing which will always be there is,</b>
                </p>
                <ul>
                    <li>Someone shivering in the cold nights of winter at the roadside or </li>
                    <li>Someone asking for food/money or</li>
                    <li>Little child selling balloons or</li>
                    <li>Someone lacking basic requirements of food/education/shelter/clothes.</li>
                </ul>
                <p class="fs-6">
                    We want to help them but maximum we can buy them a meal or give them some money which will last for
                    a night or two.<br>
                    <b>The problem is,</b> They are going to be there, their needs are going to be there with them as
                    well.<br>
                    So, the question is, <b>what you can do?</b>
                </p>
                <ul>
                    <li>With the help of <b>S.T.R.O.N.G.</b> you can click their photo & upload it on the website with
                        their details like, their needs, for how much time they need it, their family-members count, the
                        location will be fetched using your current co-ordinates.</li>
                    <li>Once you post and once the post verification is done, it will be shared with the users living
                        nearby.</li>
                    <li>All the other local users can do is click on the <b>Visit Now</b> button, go there & help them. Once the requirement gets fulfilled the post will be closed.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="bg-white py-1">
    <div class="container py-5">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1">
                <h1 class="fw-light">What makes us <b>S.T.R.O.N.G.</b>?</h1>
                <p class="fs-5 fw-bolder">
                    These precious smiles.
                </p>
                <h2 class="fw-light">What makes us unique?</h2>
                There are many NGOs & websites working for the welfare of underprivileged people, what makes <b>S.T.R.O.N.G.</b> unique is,
                <ul>
                    <li>Zero funds policy of donation,</li>
                    <li>Users who are helping can feel that personal satisfaction also 100% transparency with their contribution as they know where it is going,</li>
                    <li>Location restrictions, which fetches the live location co-ordinates of the user so that false posts can be prevented,</li>
                    <li>Urgency-Spam-Comment feature, for smooth handling of a post all 3 features are required, as High urgency posts i.e., medical emergency will be shown to the local users on prior bases. Spam reported posts will be evaluated by admin and will be deleted. Comment feature will let other user know-guide for further contribution,</li>
                </ul>
            </div>
            <div class="col-lg-6 px-5 mx-auto order-1 order-lg-2"><img src="./assets/images/what_makes_us_strong.png"
                    alt="what_makes_us_strong" class="img-fluid mb-4 mb-lg-0">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 px-5 mx-auto"><img src="./assets/images/where_we_are_headed.jpg"
                    alt="where_we_are_headed" class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6">
                <h1 class="fw-light">Where we are headed?</h1>
                We are headed towards,
                <ul>
                    <li>Building a <b>S.T.R.O.N.G.</b> community which can raise hands together for</li>
                    <li>helping the needy ones at any time & any place.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="bg-light py-5">1
    <div class="container py-5">
        <div class="row mb-4">
            <h1 class="">Our <b>S.T.R.O.N.G.</b> team</h1>
        </div>

        <div class="row text-center">
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://avatars.githubusercontent.com/u/57055638?v=4" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dhruvit Diyora</h5><span class="small text-uppercase text-muted">One Word</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://github.com/dhruvitdiyora" target="_blank" class="social-link"><i
                                    class="fa fa-github fa-lg"></i></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/dhruvitdiyora" target="_blank" class="social-link"><i
                                    class="fa fa-twitter fa-lg"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/dhruvitdiyora/" target="_blank" class="social-link"><i
                                    class="fa fa-linkedin fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://avatars.githubusercontent.com/u/67514560?s=100&v=4" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Piyushsingh Thakur</h5><span class="small text-uppercase text-muted">One
                        Word</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://github.com/piyusht57" target="_blank" class="social-link"><i
                                    class="fa fa-github fa-lg"></i></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/PiyushSinghTh11" target="_blank" class="social-link"><i
                                    class="fa fa-twitter fa-lg"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/piyush-singh-6a44311b1/" target="_blank" class="social-link"><i
                                    class="fa fa-linkedin fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://avatars.githubusercontent.com/u/79098702?s=100&v=4" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Preet Gandhi</h5><span class="small text-uppercase text-muted">One Word</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://github.com/preetgandhi87" target="_blank" class="social-link"><i
                                    class="fa fa-github fa-lg"></i></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/PreetGandhi87" target="_blank"class="social-link"><i
                                    class="fa fa-twitter fa-lg"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/preet-gandhi-27b69b202/" target="_blank" class="social-link"><i
                                    class="fa fa-linkedin fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img
                        src="https://avatars.githubusercontent.com/u/55289971?v=4" alt="" width="100"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Shubh Patel</h5><span class="small text-uppercase text-muted">One Word</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="https://github.com/srp720" target="_blank" class="social-link"><i
                                    class="fa fa-github fa-lg"></i></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/srp720" target="_blank" class="social-link"><i
                                    class="fa fa-twitter fa-lg"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/shubh-patel-a064b9149/" target="_blank" class="social-link"><i
                                    class="fa fa-linkedin fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->

        </div>
    </div>
</div>