<div class="row mx-4">
    <!-- <div class="field d-flex">
        <input type="text" class="form-control" value="filter by...">
        <button class="btn btn-success ms-2"><i class="fa fa-filter fa-lg" aria-hidden="true"></i></button>
    </div> -->
    <div class="d-flex ms-2 my-3 curs">
        <i class="fa fa-bell fa-lg mt-1" aria-hidden="true"></i>
        <h5 class="ms-2 fw-bolder">Notification</h5>
      </div>
      <div class="d-flex ms-2 my-3 curs" (click)="openProfile()">
        <i class="fa fa-user fa-lg mt-1" aria-hidden="true"></i>
        <h5 class="ms-3 fw-bolder">Profile</h5>
      </div>
      <div class="d-flex ms-2 my-3 curs">
        <i class="fa fa-bookmark fa-lg mt-1" aria-hidden="true"></i>
        <h5 class="ms-3 fw-bolder">Bookmarks</h5>
      </div>
      <div class="d-flex ms-2 my-3">
        <i class="fa fa-cog fa-lg mt-1" aria-hidden="true"></i>
        <h5 class="ms-3 fw-bolder">Settings</h5>
      </div>
      <div class="d-flex ms-2 my-3">
        <i class="fa fa-hashtag fa-lg mt-1" aria-hidden="true"></i>
        <h5 class="ms-2 fw-bolder">Explore</h5>
      </div>
</div>