<form [formGroup]="resetPwForm">
  <div class="modal-content form-elegant modal-color">
    <!--Header-->
    <div class="modal-header text-center">
      <h3 class="modal-title w-100 font-weight-bold my-3 ms-4" id="myModalLabel"><strong>Reset Password</strong></h3>
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close" (click)="closeResetPwModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!--Body-->
    <div class="modal-body mx-4">
      <!--Body-->
      <div class="md-form mb-2">
        <div class="input-group">
          <div class="input-group mb-1"><span class="input-group-text" id="basic-addon1"><i
                class="fa fa-envelope register-icons-email" aria-hidden="true"></i></span><input type="email"
              class="form-control shadow-none" placeholder="Your Email" aria-label="Email" aria-describedby="basic-addon1" disabled></div>
        </div>
      </div>

      <div class="md-form mb-2">
        <div class="input-group">
          <div class="input-group mb-1"><span class="input-group-text" id="basic-addon1"><i
                class="fa fa-unlock-alt register-icons" aria-hidden="true"></i></span><input type="password"
              class="form-control shadow-none" formControlName="NewPassword" placeholder="Your New Password" aria-label="password" aria-describedby="basic-addon1">
          </div>
          <div *ngIf="NewPassword?.invalid && NewPassword?.touched" class="text-danger">Password is required</div><br> 
        </div>
      </div>

      <div class="md-form mb-5">
        <div class="input-group">
          <div class="input-group mb-1"><span class="input-group-text" id="basic-addon1"><i
                class="fa fa-lock register-icons" aria-hidden="true"></i></span><input type="password"
              class="form-control shadow-none" formControlName="ConfirmPassword" placeholder="Confirm Password" aria-label="password" aria-describedby="basic-addon1">
          </div>
          <div *ngIf="ConfirmPassword?.invalid && ConfirmPassword?.touched" class="text-danger">Password confirmation is required</div><br> 
        </div>
      </div>
  
  
  
      <div class="md-form mb-5">
        <div class="text-center mb-3">
          <button type="button" class="btn btn-success btn-block rounded-pill z-depth-1a w-50 fw-bolder">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>
<!--Content-->
